.anticon {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.anticon > * {
  line-height: 1;
}

.anticon svg {
  display: inline-block;
}

.anticon[tabindex] {
  cursor: pointer;
}

@-webkit-keyframes loadingCircle { 
  100% { transform: rotate(360deg); }
}

@keyframes loadingCircle { 
  100% { transform: rotate(360deg); }
}
.anticon {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.anticon > * {
  line-height: 1;
}

.anticon svg {
  display: inline-block;
}
@keyframes css-2gmtv5-antZoomBigIn { 
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes css-2gmtv5-antZoomBigOut { 
  0% { transform: scale(1); }
  100% { transform: scale(0.8); opacity: 0; }
}
.anticon {
  display: inline-flex;
  align-items: center;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

.anticon > * {
  line-height: 1;
}

.anticon svg {
  display: inline-block;
}
@keyframes css-966cr7-antFadeIn { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes css-966cr7-antFadeOut { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes css-966cr7-antZoomIn { 
  0% { transform: scale(0.2); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes css-966cr7-antZoomOut { 
  0% { transform: scale(1); }
  100% { transform: scale(0.2); opacity: 0; }
}
:where(.css-1t2c3zu)[class^="ant-float-btn"], :where(.css-1t2c3zu)[class*=" ant-float-btn"] {
  font-family: "Noto Sans";
  font-size: 14px;
  box-sizing: border-box;
}

:where(.css-1t2c3zu)[class^="ant-float-btn"] [class^="ant-float-btn"], :where(.css-1t2c3zu)[class*=" ant-float-btn"] [class^="ant-float-btn"], :where(.css-1t2c3zu)[class^="ant-float-btn"] [class*=" ant-float-btn"], :where(.css-1t2c3zu)[class*=" ant-float-btn"] [class*=" ant-float-btn"] {
  box-sizing: border-box;
}

:where(.css-1t2c3zu).ant-float-btn {
  box-sizing: border-box;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.57143;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  font-family: "Noto Sans";
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  position: fixed;
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 99;
  display: block;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  inset-inline-end: 24px;
  inset-block-end: 48px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
}

:where(.css-1t2c3zu).ant-float-btn .ant-float-btn-body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

:where(.css-1t2c3zu).ant-float-btn .ant-float-btn-body .ant-float-btn-content {
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
}

:where(.css-1t2c3zu).ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  text-align: center;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  width: 18px;
  font-size: 18px;
  line-height: 1;
}

:where(.css-1t2c3zu).ant-float-btn-circle {
  height: 40px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

:where(.css-1t2c3zu).ant-float-btn-circle .ant-float-btn-body {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

:where(.css-1t2c3zu).ant-float-btn-primary {
  background-color: rgb(231, 56, 87);
}

:where(.css-1t2c3zu).ant-float-btn-primary .ant-float-btn-body {
  background-color: rgb(231, 56, 87);
  transition-behavior: normal;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: background-color;
}

:where(.css-1t2c3zu).ant-float-btn-primary .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  color: rgb(255, 255, 255);
}
@keyframes css-1t2c3zu-antFadeIn { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes css-1t2c3zu-antFadeOut { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes css-1t2c3zu-antFloatButtonMoveDownIn { 
  0% { transform: translate3d(0px, 40px, 0px); transform-origin: 0px 0px; opacity: 0; }
  100% { transform: translate3d(0px, 0px, 0px); transform-origin: 0px 0px; opacity: 1; }
}
@keyframes css-1t2c3zu-antFloatButtonMoveDownOut { 
  0% { transform: translate3d(0px, 0px, 0px); transform-origin: 0px 0px; opacity: 1; }
  100% { transform: translate3d(0px, 40px, 0px); transform-origin: 0px 0px; opacity: 0; }
}
:where(.css-2gmtv5)[class^="ant-modal"], :where(.css-2gmtv5)[class*=" ant-modal"] {
  font-family: "Noto Sans";
  font-size: 14px;
  box-sizing: border-box;
}

:where(.css-2gmtv5)[class^="ant-modal"] [class^="ant-modal"], :where(.css-2gmtv5)[class*=" ant-modal"] [class^="ant-modal"], :where(.css-2gmtv5)[class^="ant-modal"] [class*=" ant-modal"], :where(.css-2gmtv5)[class*=" ant-modal"] [class*=" ant-modal"] {
  box-sizing: border-box;
}

:where(.css-2gmtv5).ant-modal-root .ant-modal-wrap {
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-x: auto;
  overflow-y: auto;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}

:where(.css-2gmtv5).ant-modal-root .ant-modal-centered {
  text-align: center;
}

:where(.css-2gmtv5).ant-modal-root .ant-modal-centered .ant-modal {
  top: 0px;
  display: inline-block;
  padding-bottom: 0px;
  text-align: start;
  vertical-align: middle;
}

@media (max-width: 767) {
:where(.css-2gmtv5).ant-modal-root .ant-modal {
  max-width: calc(-16px + 100vw);
}

:where(.css-2gmtv5).ant-modal-root .ant-modal-centered .ant-modal {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}
}

:where(.css-2gmtv5).ant-modal {
  box-sizing: border-box;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  line-height: 1.57143;
  list-style-position: initial;
  list-style-image: initial;
  list-style-type: none;
  font-family: "Noto Sans";
  pointer-events: none;
  position: relative;
  top: 100px;
  width: auto;
  max-width: calc(-32px + 100vw);
  padding-bottom: 24px;
}

:where(.css-2gmtv5).ant-modal .ant-modal-content {
  position: relative;
  background-color: rgb(34, 34, 34);
  background-clip: padding-box;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px -4px, rgba(0, 0, 0, 0.05) 0px 9px 28px 8px;
  pointer-events: auto;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}

:where(.css-2gmtv5).ant-modal .ant-modal-close {
  position: absolute;
  top: 17px;
  inset-inline-end: 17px;
  z-index: 1010;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 600;
  line-height: 1;
  text-decoration-line: none;
  text-decoration-thickness: initial;
  text-decoration-style: initial;
  text-decoration-color: initial;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 22px;
  height: 22px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-top-color: currentcolor;
  border-right-color: currentcolor;
  border-bottom-color: currentcolor;
  border-left-color: currentcolor;
  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
  cursor: pointer;
  transition-behavior: normal, normal;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: ease, ease;
  transition-delay: 0s, 0s;
  transition-property: color, background-color;
}

:where(.css-2gmtv5).ant-modal .ant-modal-close-x {
  display: block;
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
}

:where(.css-2gmtv5).ant-modal .ant-modal-body {
  font-size: 14px;
  line-height: 1.57143;
  overflow-wrap: break-word;
}

:where(.css-2gmtv5).ant-modal-root .ant-modal-wrap {
  position: fixed;
  top: 0px;
  inset-inline-end: 0px;
  bottom: 0px;
  inset-inline-start: 0px;
  overflow-x: auto;
  overflow-y: auto;
  outline-color: initial;
  outline-style: initial;
  outline-width: 0px;
}
@keyframes css-2gmtv5-antFadeIn { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes css-2gmtv5-antFadeOut { 
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes css-2gmtv5-antZoomIn { 
  0% { transform: scale(0.2); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes css-2gmtv5-antZoomOut { 
  0% { transform: scale(1); }
  100% { transform: scale(0.2); opacity: 0; }
}
@keyframes css-yti4eg-antZoomBigIn { 
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes css-yti4eg-antZoomBigOut { 
  0% { transform: scale(1); }
  100% { transform: scale(0.8); opacity: 0; }
}
@keyframes css-1t2c3zu-antZoomBigIn { 
  0% { transform: scale(0.8); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes css-1t2c3zu-antZoomBigOut { 
  0% { transform: scale(1); }
  100% { transform: scale(0.8); opacity: 0; }
}